<!doctype html>
<html lang="en" ng-app="mochiToDo">
    <head>
        <meta charset="utf-8">
        <title>餅列表</title>
    </head>
    <body ng-controller="TodoCtrl">
    <section>这里是标题和萌物图</section>
    <section>
        <input type="text" placeholder="请输入..."
               ng-model="newItem"
               ng-keydown="submitItem($event.keyCode)"
        >
    </section>
    <section>
        <ul>
            <li ng-repeat="item in items track by $index">
                <input type="checkbox">
                <span ng-bind="item.content"></span>
                <button>×</button>
            </li>
        </ul>
    </section>
    <section>这里是batch action</section>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    </body>
</html>